@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

body {
    background-color: #282c34;
    max-width: 50%;
    color: #dfdfdf;
    /* font-family: 'Yomogi', cursive; */
    font-family:"Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
    font-family:"Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight:700;
    margin-top:0;
}
h1{
    background-color: #23272E;
    color: #ff6c6b;
    font-size:175%;
    margin-bottom: 0.83em !important;
}
h2{
    font-size:150%;
}

h3{
    font-size:125%;
}

h4{
    font-size:115%;
}

h5{
    font-size:110%;
}

h6{
    font-size:100%;
}

blockquote {
    color: #ecbe7b;
}
pre{
    border: none;
    font-size: 14px;
    background-color: #23272E;
    box-shadow: none;
}

a {
    color: #c678dd;
    text-decoration: none;
}

a:hover {
    color: #51afef;
}

h2 {
    color: #51afef;
}

h3{
    color: #C678DD;
}

h4 {
    font-weight: 300;
    color: #A9A1E1;
}

code {
    font-size: 14px;
    font-family: "Monaco";
    color: #DA8548;
    background-color: #23272E;
}
b,strong{
    font-weight: bold;
    color: #ff6c6b;
}
.src.src-C {
    color: #dfdfdf;
}

table {
    margin: 1.2em;
    background-color: #23272E;
}

ul,ol{
    line-height:24px;
    list-style-image:none;
    /* list-style:none; */
    margin:0px 0px 24px 0px;
    padding:0;
}

li{
    margin-left: 24px;
}

p{
    font-size:16px;
    line-height:24px;
    margin:0px 0px 24px 0px;
}
